.NavigationItems{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

@media (max-width:499px) {
    .NavigationItems{
        flex-direction: column;
    }
}
