.PriceCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 480px;
    max-width: 250px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(206, 206, 206, 0.2), 0 1px 10px 0 rgba(117, 117, 117, 0.19);
    padding: 10px;
    z-index: 5;
}

.PriceCard:hover{
    width: 320px;
    max-width: 250px;
    height: 510px;
    z-index: 10;
}

.PriceCard p{
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    margin: 5px 0;
    line-height: 18px;
    align-items: initial;
}

.PriceCard h4{
    color: rgb(90, 90, 90);
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.PriceCard h5{
    color: rgb(90, 90, 90);
    font-size: 60px;
    font-weight: 700;
    display: inline;
    margin: 10px 0px;
}

@media(max-width:500px) {
    .PriceCard{
        width: 90%;
        margin-top: 20px;
    }
}