.PhotoSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background-color: transparent;
}

.PhotoContainer{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.Title ul{
    list-style-type:  none;
    margin: 13px 0px;
    padding: 0px;
  
  }

.Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
}
.Photo{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
}

.Photo img{
    max-width: 90%;
    height: auto;
}

.Title h4, li{
    color: rgb(138, 138, 138);
    font-size: 17px;
    font-weight: 400;
    max-width: 600px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.Title img{
    width: 15px;
    height: 15px;
    padding: 4px;
    margin-right: 10px;
}

.Title p{
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: 20px 0;
    line-height: 28px;
}

.Title h3{
    max-width: 550px;
    margin: 15px 0px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(90, 90, 90);
}

@media (max-width: 500px){
    .PhotoSection{
        height: auto;
        overflow: auto;
    }
    .PhotoContainer{
        flex-direction: column-reverse;
        width: 100%;
    }
    .Photo{
        width: 90%;
    }
    .Title{
        width: 90%;
        margin: 0;
    }
}