.SecondCard{
    display: block;
    flex-direction: column;
    width: 25%;
    margin: 5px 15px;
    flex-wrap: wrap;
}

.SecondCard h3{
    color: rgb(90, 90, 90);
}

.SecondCard p{
    margin: 0px;  
}
.SecondCard button{
    margin: 10px 5px;
}

.ListElements{
    display: flex;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
}
.ListElements li{
    margin: 10px 15px;
}

@media(max-width: 500px){
    .SecondCard{
        flex-direction: column;
        width: 80%;
    }
}