.ProcessCard{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 15px 0px;
}

.ProcessCard p{
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: 0px 20px;
    line-height: 33px;
}

.ProcessCard svg{
    width: 80px;
    height: 80px;
    margin: 0px;
}

.Title{
    display: flex;
    flex-direction: column;
}

.Title h4{
    margin: 0px 20px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(90, 90, 90);
}