.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: transparent;

}
.Card h4{
    margin: 0px 15px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(90, 90, 90);
}
.Card h5 p{
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: 20px 0;
    line-height: 28px;
}

.Card p{
    text-align: center;
}

.Card svg {
  vertical-align: bottom;
  width: 80px;
  height: 80px;
  margin: 15px;
  z-index: 100;
}

@media(max-width: 500px) {
    .Card{
        width: 100%;
    }
}
/* 
.Blob{
    display: inline-block;
    position: relative;
} */


/* .svg1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.svg2{
    z-index: 50;
    top: 0;
    right: 0;
} */
