.OurProcess{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.Container{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}

.Photo{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
}

.Photo img{
    max-width: 90%;
    height: auto;
    padding: 50px;
}


.Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
}

.Title h4{
    color: rgb(138, 138, 138);
    font-size: 17px;
    font-weight: 400;
    max-width: 600px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.Title h3{
    max-width: 500px;
    margin: 15px 0px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(90, 90, 90);
}

@media (max-width: 500px) {
    .Container{
        width: 100%;
        flex-direction: column-reverse;
    }
    .Photo{
        width: 90%;
    }
    .Photo img{
        padding: 0;
    }
    .Title{
        width: 90%;
        align-items: center;
    }

}