.Header{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #e3f4fd;
    position: fixed;
    z-index: 100;
 
}

.Navigation{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}
.Nav{
    display: flex;
    width: 80%;
    justify-content: center;
}

.Logo{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
}
.Logo img{
    height: 30px;
    width: 40px;
    max-width: 60px;
}

@media (max-width: 500px) {
    .DesktopOnly{
        display: 'none';
    }
    .Navigation{
        display: none;
    }
    .Header{
        position: relative;
    }
}