.Button button{
    border: 0px;
    background-color: #5ca7db;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    max-width: 500px;
    outline: none;
    text-decoration: none;
}

.Button p{
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: 700;
}

button:hover{
    background-color: #79b1da;
}