.FirstCard{
    display: block;
    flex-direction: column;
    width: 25%;
    margin: 5px 0px;
}
.Card:hover{
    cursor: pointer;
}

.Card{
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 500px;
    margin: 15px 0px;
}

.Card img{
    height: auto;
    width: auto;
    border-radius: 5px;
}

.CardTitle{
    flex-direction: column;
    justify-content: center;
    margin: 0px 5px;
}

.FirstCard h4{
    color: rgb(90, 90, 90);
    font-size: 18px;
    font-weight: 700;
    margin: 0px 10px;
}

.FirstCard h3{
    color: rgb(90, 90, 90);
}
.Card p{
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-weight: 400;
    max-width: 600px;
    margin: 20px 10px;
    line-height: 28px;
}

@media(max-width: 500px){
    .FirstCard{
        flex-direction: column;
        width: 80%;
    }
}