.MenuButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    background: transparent;
    height: 100%;
}

.MenuButton button{
    border: 1px solid rgb(219, 219, 219);
    height: 70%;
    outline: none;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}


.Line{
    height: 2px;
    width: 40px;
    background-color: #999999;
    margin-top: 4px;
}

@media (min-width:500px) {
    .MenuButton{
        display: none;
    }
}