.Customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fafafa;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
}

.Carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@media(max-width: 500px) {
    .Carousel{
        flex-direction: column;
    }
}