.Pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fafafa;
}



.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 700px;
}

.Cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0px 20px;
    width: 58.333333%;
    padding: 10px 20px;
    
}

.Title{
    display: flex;
    height: 80%;
    margin: 0px 20px;
    flex-direction: column;
    width: 41.677777%;
    text-align: left;
    margin-left: 50px;
    
}

.Title h3{
    max-width: 500px;
    margin: 15px 0px;
    font-size: 27px;
    color: rgb(90, 90, 90);
    text-align: left;
}

.Title h5{
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-weight: 600;
}

.Title p{
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    margin: 20px 0;
    line-height: 28px;
}

@media(max-width:500px) {
    .Container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .Cards{
        flex-direction: column;
        width: 90%;
        margin: 0px;
    }
    .Title{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .Title h3{
        text-align: center;
    }
}