.Email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #e3f4fd;
}

.Contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
}

.Email p{
    margin: 0;
}
.TextInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.Cloud{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20%;
    margin-top: auto;
}

.rocket1{
    width: 100%;
}

@media(max-width:500px) {
    .Email{
        height: auto;
    }
    .TextInput{
        width: 90%;
    }
    .Contact{
        flex-direction: column;
        width: 100%;
    }
}