.Rocket{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: transparent;
}

.rocket2{
    position: absolute;
    max-width: 350px;
    max-height: 520px;
    z-index: 3;
    top:150px;
}

.rocket3{
    position: absolute;
    max-width: 400px;
    max-height: 500px;
    z-index: 2;
    top:100px;
}

.rocket4{
    margin: auto;
    position: absolute;
    max-width: 450px;
    max-height: 500px; 
    z-index: 1;
    top:380px;
}

@media (max-width: 500px) {
    .Rocket{
        width: 100%;
    }
    .rocket2{
        max-width: 250px;
        max-height: 400px;
        top:510px;
    }
    .rocket3{
        max-width: 250px;
        max-height: 300px;
        top:460px;
    }
    .rocket4{
        max-width: 300px;
        max-height: 300px; 
        top:650px;
    }
}