.NavigationItem{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}



.NavigationItem:hover{
    color: #63a8da;
}

@media (max-width:500px){
    .NavigationItem:hover{
        color: #606060;
    }
}