.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 660px;
    background-color: #e3f4fd;
}

.Content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.Cloud{
    width: 100%;
    height: 15%;
}

.rocket1{
    width: 100%;
}


@media (max-width: 750px) {
    .Home{
        height: 850px;
        
    }
    .Content{
        flex-direction: column;
    }
    .Cloud{
        zoom: 8;
    }
}