.Input input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    border: none;
    height: 50px;
    border-radius: 25px;
    outline: none;
    margin: 0px 10px;
}

.Input input[type=text]{
    display: flex;
    font-family: "Open Sans", "sans-serif";
    justify-content: center;
    font-size: 18px;   
    padding: 0px 10px;
}

@media(max-width:500px) {
    .Input input{
        max-width: 300px;
        margin: 10px 0px;
    }
}