.Talk{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background-color: #fafafa;
}

.Container{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
}

.Photo{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
}

.Photo img{
    max-width: 90%;
    height: auto;
}

.TalkTitle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
    text-align: left;
}

.TalkTitle p{
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    margin: 10px 0;
    line-height: 28px;
}

.TalkTitle h3{
    max-width: 520px;
}

.TalkTitle button, p{
    margin-top: 25px;
    font-size: 14px;
}

@media(max-width: 500px) {
    .Container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .TalkTitle{
        width: 90%;
        padding:  0px 0px;
        text-align: center;
        justify-content: center;
    }
    .Photo{
        width: 90%;
    }
    .TalkTitle button{
        width:90%;
    }
}