.HomeText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    background-color: transparent;

}

.HomeText p{
    color: rgb(112, 112, 112);
    margin: 10px 16px;
    font-size: 25px;
    font-weight: 400;
    max-width: 495px;
}

.HomeText h1{
    margin: 10px 16px;
    font-size: 38px;
    max-width: 500px;
}

.Button{
    display: flex;
    width: 100%;
    justify-items: flex-start;
    margin: 20px 16px;
    max-width: 500px;
}
  

@media (max-width: 500px) {
    .HomeText{
        width: 100%;
        text-align: left;
        margin: 20px 0px;
    }
    .HomeText p{
        margin-top: 20px;
        font-size: 19px;
        max-width: 400px;
    }
    .HomeText h1{
        font-size: 30px;
        max-width: 490px;
    }
    .Button{
        justify-content: center;
    }
}