.Footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
}

@media(max-width: 500px){
    .Container{
        flex-direction: column;
        width: 100%;
    }
}