.Title{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 250px;
    justify-content: center;
}

.Title h3{
    max-width: 700px;
    margin: 15px 0px;
    font-size: 27px;
    color: rgb(90, 90, 90);
}

.Title h5{
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-weight: 600;
}