.WhatWeDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: transparent;
}

.Title{
    display: flex;
    flex-direction: column;
    width:40%;
    justify-content: center;
    align-items: center;
}

.Title h3{
    max-width: 600px;
    margin: 15px 0px;
    text-align: center;
    font-size: 27px;
    color: rgb(90, 90, 90);
}

.Title h5{
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-weight: 600;
}

.Cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 70%;
    background-color: transparent;
}

@media (max-width:500px) {
    .WhatWeDo{
        height: auto;
    }
    .Cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Title{
        width: 100%;
    }
    .Title h3{
        padding: 15px;
    }
}