.Customer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    height: 250px;
    background-color: white;
    padding: 30px;
    margin: 20px 20px;
    box-shadow: 0 2px 4px 0 rgba(206, 206, 206, 0.2), 0 3px 10px 0 rgba(117, 117, 117, 0.19);
}
.Blob svg{
    width: 55ppx;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    fill: #cce0ed;
}


.Blob {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Profile{
    display: flex;
    flex-direction: row;
}

.Profile h3{
    margin: 5px 10px;
    font-weight: 600;   
    font-size: 20px;
    color: rgb(90, 90, 90);
}

.Profile,.Customer p{
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    max-height: 400px;
    margin: 5px 10px;
    line-height: 33px;
}

@media(max-width: 500px) {
    .Customer{
        width: 95%;
    }
}