.FourthCard{
    display: block;
    flex-direction: column;
    width: 25%;
    margin: 5px 15px;
    flex-wrap: wrap;
}
.FourthCard h3{
    color: rgb(90, 90, 90);
}

.FourthCard p{
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-weight: 400;
    max-width: 600px;
    margin: 20px 0px;
    line-height: 28px;
}

@media(max-width: 500px){
    .FourthCard{
        flex-direction: column;
        width: 80%;
    }
}